[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "batteryreduction"]
	path = batteryreduction
	url = https://github.com/cran/batteryreduction
[submodule "patternplot"]
	path = patternplot
	url = https://github.com/cran/patternplot
